@media screen and (max-width:800px) {
  .wrap {width:100%;}
  
  .reserv_right {right:0 !important;}
  .reserv_wrap {padding:0; flex-flow:column; height:calc(100% - 70px); margin:70px auto 0; font-size:.8em;}
  .reserv_wrap .month {width:95%;}
  .reserv_wrap .reserv_side {width:95%;}

  header {flex-flow:row nowrap; width:100%; height:70px; border-left:0; border-bottom:1px solid #ccc;}
  header .reserv_btn {height:100%; width:40%; writing-mode:unset;}
  header .sub_con {height:100%; width:40%; flex-flow:row nowrap;}
  header .home_btn {height:100%; width:13%;}

  .nav_wrap nav a {font-size:1.5em;}
}